# ---------------------------------------------------------------------------
# Python
# ---------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# ---------------------------------------------------------------------------
# Virtual environments
# ---------------------------------------------------------------------------
venv/
env/
.venv/
.env/

# ---------------------------------------------------------------------------
# Jupyter Notebook
# ---------------------------------------------------------------------------
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ---------------------------------------------------------------------------
# IDE / Editors
# ---------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# ---------------------------------------------------------------------------
# OS
# ---------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------------------------------------
# Logs
# ---------------------------------------------------------------------------
logs/
*.log

# ---------------------------------------------------------------------------
# Streamlit
# ---------------------------------------------------------------------------
.streamlit/secrets.toml

# ---------------------------------------------------------------------------
# Ignore ONLY the huge Random Forest model
# ---------------------------------------------------------------------------
artifacts/models/random_forest_model.joblib

# Ignore raw and processed datasets
artifacts/raw_data/
artifacts/preprocessed_data/

TODO.MD